body {
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
}

.scratch-block {
    padding: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    background-image: radial-gradient(rgb(230, 230, 230) 3px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;

    width: 90%;
    padding: 5%;
    height: auto;

    animation: moveBackground 100s linear infinite;
    transition: transform 0.3s ease;
}

.scratch-block:hover {
    transform: scale(1.1);
}

@keyframes moveBackground {
    from {
        background-position: -19px -19px;
    }
    to {
        background-position: 1000px 1000px;
    }
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    min-width: 150px;
    min-height: 100px;
    background-color: rgb(230, 230, 230);
    color: black;
    text-align: left;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.1s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}